<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../static/css/basic_layout.css" rel="stylesheet" type="text/css">
<link href="../static/css/fundAccountOpening.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../static/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
    function mo() {
        var fundAccount = $("#f").val();
        var clientAccount = $("#c").val();
        var password = $("#pa").val();
        $.ajax({
            url:"/fund/mo",
            type:"post",
            data:{"fundAccount":fundAccount,"clientAccount":clientAccount,"password":password},
            success:function(obj){
                if (obj) {
                    var li = obj.list;
                    console.log(li);
                    $("#myfu").empty("");
                    alert(li.length);
                    for (var i = 0; i < li.length; i++) {
                        $(".fu").append("<tr><td id='fundCode"+i+"'>"+li[i].acFund.fundCode + "</td><td>" + li[i].shareCategory + "</td><td>" + li[i].purchaseAmount + "</td><td>" + li[i].amountAvailable + "</td><td>0.00</td><td>0.00</td><td>"+li[i].fen+"</td><td><input type='button'  onclick='up("+i+")' value='设置分红方式'></td></tr>");
                    }

                    console.log(obj.ac);
                    var ac = obj.ac;
                    var cl = obj.cl;
                    var me = obj.message;
                    $("#ss").val(ac.clientName);
                    $("#cn").val(ac.clientNum);
                    $("#cp").val(ac.acClient.clientPeople);
                    $("#pu").val(ac.acFundMoney.purchaseAmount);
                    $("#sh").val(ac.acFundMoney.shareCategory);
                    $(".na").val(ac.acFundMoney.fundName);
                    $("#ct").val(ac.acClientDocuments.documentsName);
                        if(cl.acAdmin != null){
                        $("#br").val(cl.acAdmin.adminAccount);
                        $("#an").val(cl.acAdmin.adminNum);
                        $("#at").val(cl.acClientDocuments.documentsName);
                    }
                    alert(me);
                }
            },
            dataType:"json"
        })
    }

    function up(i) {
        alert($("#f").val());
        var fundAccount = $("#f").val();
        var clientAccount = $("#c").val();
        var fen = $("#fen").val();
        var fundCode = $("#fundCode"+i).text();
        $.ajax({
            url:"/fund/updateFen",
            type:"post",
            data:{"fundAccount":fundAccount,"clientAccount":clientAccount,"fen":fen,"fundCode":fundCode},
            success:function (result) {
                if (result.code == 200){

                }else if (result.code == 500){
                    alert(result.message);
                }
               alert("修改成功");
               /*location.href="/fund/success";*/
            },
            dataType:"json"
        })
    }

</script>
<title>分红方式</title>
</head>
<body>
<table class="aa">
    <tr>
        <td class="cc">委托方式:</td>
        <td class="cc">
            <select>
                <option th:selected="${acFundAccount.fundWei}" th:value="柜台交易">柜台交易</option>
                <option th:selected="${acFundAccount.fundWei}" th:value="网上交易">网上交易</option>
            </select>
        </td>
        <td class="cc">账户类型: </td>
        <td class="cc">
            <select >
                <option>交易账号</option>
                <option>基金账号</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="cc">交易账号: </td>
        <td class="cc">
            <input type="text" id="c" name="clientAccount" th:value="${acFundAccount.clientAccount}">
        </td>
        <td class="cc">基金账号: </td>
        <td class="cc">
            <input type="text" id="f" name="fundAccount">
        </td>
    </tr>
    <tr>
        <td class="cc">密码: </td>
        <td class="cc">
            <input id="pa" type="password" th:value="${acFundAccount.clientPassword}">
        </td>
        <td class="cc">
            <button onclick="mo()" value="查询">查询</button>
        </td>
    </tr>
    <tr>
        <td class="cc">基金名称: </td>
        <td class="cc">
            <select class="na">
                <option th:each="f : ${flist}"  th:text="${f.fundName}"></option>
            </select>
        </td>
        <td class="cc">份额类别: </td>
        <td class="cc">
            <select  id="sh">
                <option th:selected="${acFundAccount.acFundMoney.shareCategory}" value="前收费">前收费</option><!--th:if="${l.shareCategory eq '前收费'}" th:selected="selected"-->
                <option th:selected="${acFundAccount.acFundMoney.shareCategory}" value="水平收费">水平收费</option>
                <option th:selected="${acFundAccount.acFundMoney.shareCategory}" value="后收费">后收费</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="cc">分红方式: </td>
        <td class="cc">
            <select id="fen">
                <option th:selected="${acFundAccount.fen}" value="现金分红">现金分红</option>
                <option th:selected="${acFundAccount.fen}" value="红利再投资">红利再投资</option>
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td class="cc" style="color: #316AC5">客户名称: </td>
        <td class="cc">
            <input id="ss" type="text" th:value="${acFundAccount.clientName}">
        </td>
        <td class="cc" style="color: #316AC5">客户类型: </td>
        <td class="cc">
            <input id="cp" type="text" th:value="普通客户">
        </td>
    </tr>
    <tr>
        <td class="cc" style="color: #316AC5">证件类型: </td>
        <td class="cc">
            <input id="ct" type="text" th:value="${acFundAccount.acClientDocuments.documentsName}">
        </td>
        <td class="cc" style="color: #316AC5">证件号码: </td>
        <td class="cc">
            <input id="cn" th:value="${acFundAccount.clientNum}" type="text">
        </td>
    </tr>
    <tr>
        <td class="cc" style="color: #316AC5">经办人: </td>
        <td class="cc">
            <input id="br" type="text" th:value="${acFundAccount.acAdmin.adminAccount}">
        </td>
        <td class="cc" style="color: #316AC5">可用资金:</td>
        <td class="cc">
            <input id="pu" type="text" th:value="${acFundAccount.acFundMoney.amountAvailable}">
        </td>
    </tr>
    <tr>
        <td class="cc" style="color: #316AC5">经办人证件: </td>
        <td class="cc">
            <input id="at" type="text" th:value="${acFundAccount.acClientDocuments.documentsName}">
        </td>
        <td class="cc" style="color: #316AC5">经办人号码: </td>
        <td class="cc">
            <input id="an" type="text" th:value="${acFundAccount.acAdmin.adminNum}">
        </td>
    </tr>
</table>
<table style="text-align: center;margin-left: 12%;margin-top: -2%" border="1">
    <tr>
        <td>基金代码</td>
        <td>收费方式</td>
        <td>当前份额余额</td>
        <td>可用份额余额</td>
        <td>冻结份额余额</td>
        <td>交易冻结份额</td>
        <td>分红</td>
        <td>设置分红方式</td>
    </tr>
    <tbody class="fu" id="myfu">
    </tbody>
    <tr>
        <td  colspan="8">
            <button  value="授权">授权</button>
            <button type="button" onclick="up()" value="提交">提交</button>
            <button type="reset" value="取消">取消</button>
        </td>
    </tr>
</table>
</body>
</html>