<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人基金账户登记</title>
</head>
<link href="../static/css/basic_layout.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../static/js/jquery-1.4.4.min.js"></script>
<link href="../static/css/fundAccountOpening.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
   function sure(){

   }

</script>
<body>

<table class="aa">
    <tr>
        <td class="cc">
            <span>委托方式:</span>
        </td>
        <td class="cc">
            <select >
                <option th:value="${res.fundWei}" th:text="${res.fundWei}"></option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="cc">
            基金账号:
        </td>
        <td class="cc">
            <input type="text" class="cc2" th:value="${res.fundAccount}" name="fundAccount">
            <button>客户信息</button>
        </td>
    </tr>
    <tr>
        <td class="cc">
            客户名称:
        </td>
        <td class="cc">
            <input name="clientName" th:value="${res.clientName}">
        </td>
        <td class="cc">
            客户性别:
        </td>
        <td class="cc" >
            <input name="clientSex" th:value="${res.clientSex}">
        </td>
    </tr>
    <tr>
        <td class="cc">
            账户类型:
        </td>
        <td class="cc">
            <select name="accountType" >
                <option th:value="${res.accountType}" th:text="${res.accountType}"></option>
            </select>
        </td>
        <td class="cc">
            证件类型:
        </td>
        <td class="cc">
            <select name="clientType" >
                <option th:value="${res.clientType}" th:text="${res.clientType}"></option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="cc">
            证件号码:
        </td>
        <td class="cc">
            <input name="clientNum" type="text" th:value="${res.clientNum}">
        </td>
        <td class="cc">
            重复证件号码:
        </td>
        <td class="cc">
            <input name="clientNum1" type="text" th:value="${res.clientNum}">
        </td>
    </tr>
    <tr>
        <td class="cc"><span>国籍</span></td>
        <td class="cc">
            <select  name="fundNationality" >
                <option th:value="${res.fundNationality}" th:text="${res.fundNationality}"></option>
            </select>
        </td>
        <td class="cc"><span>证件有效期</span></td>
        <td class="cc"><input name="clientValidity" type="date" th:value="${res.clientValidity}"></td>
    </tr>
    <tr>
        <td class="cc">
            交易密码:
        </td>
        <td class="cc">
            <input name="clientPassword" th:value="${res.clientPassword}">
        </td>
        <td class="cc">
            重复密码:
        </td>
        <td class="cc"><input name="clientPassword1" th:value="${res.clientPassword}">
        </td>
    </tr>
    <tr>
        <td class="cc">
            TA代码:
        </td>
        <td class="cc">
            <select name="clientTaCode" >
                <option th:value="${res.clientTaCode}" th:text="${res.clientTaCode}"></option>
            </select>
        </td>
    </tr>
    <!--*开户银行，银行户名，银行编号，银行账号，联行号，汇兑标志-->
    <tr>
        <td class="cc">
            开户银行:
        </td>
        <td class="cc">
            <input name="bankName" type="text" th:value="${bank.bankFullName}">
        </td>
    </tr>
    <tr>
        <td class="cc">
            银行户名:
        </td>
        <td class="cc">
            <input name="bankHuName" type="text" th:value="${res.clientName}">
        </td>
    </tr>
    <tr>
        <td class="cc">
            银行编号:
        </td>
        <td class="cc">
            <select name="bankNum"><option  th:value="${bank.bankNameId}" th:text="${bank.bankNameId}"></option></select>
        </td>
    </tr>
    <tr>
        <td class="cc">
            银行账号:
        </td>
        <td class="cc">
            <input name="bankAccount" type="text" th:value="${bank.bankNameId}">
        </td>
    </tr>
    <tr>
        <td class="cc">
            联行号:
        </td>
        <td class="cc">
            <input name="jonesLangLasalle" type="text" th:value="${bank.jonesLangLasalle}">
        </td>
        <td class="cc">
            汇兑标志:
        </td>
        <td class="cc">
            <select name="fundSign" >
                <option th:value="${res.fundSign}" th:text="${res.fundSign}"></option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="cc">
            邮政编码:
        </td>
        <td class="cc">
            <input name="clientPostCode" type="text" th:value="${res.clientPostCode}">
        </td>
        <td class="cc">
            联系电话:
        </td>
        <td class="cc">
            <input name="clientTel" type="text" th:value="${res.clientTel}">
        </td>
    </tr>
    <tr>
        <td class="cc">
            传真号码:
        </td>
        <td class="cc">
            <input name="fundFax" type="text" th:value="${res.fundFax}">
        </td>
        <td class="cc">
            手机号码:
        </td>
        <td class="cc">
            <input name="clientPhone" type="text" th:value="${res.clientPhone}">
        </td>
    </tr>
    <tr>
        <td class="cc">
            通讯地址:
        </td>
        <td class="cc">
            <input name="mailAddress" type="text" th:value="${res.mailAddress}">
        </td>
    </tr>
    <tr>
        <td class="cc">
            电子邮件:
        </td>
        <td class="cc">
            <input name="email" type="text" th:value="${res.email}">
        </td>
    </tr>
    <tr>
        <td class="cc">
            折扣率:
        </td>
        <td class="cc">
            <input name="discountRate" type="text" value="1.00" th:value="${res.discountRate}">
        </td>
        <td class="cc">
            分红方式:
        </td>
        <td class="cc">
            <select name="fen" th:value="${res.fen}">
                <option>现金红利</option>
                <option>分红再投资</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="cc">
            资金方式:
        </td>
        <td class="cc">
            <select name="capital" th:value="${res.capital}">
                <option>普通方式</option>
                <option>交易账户</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="cc">对账单寄送方式:</td>
        <td class="cc">
            <select name="billing" th:value="${res.billing}">
                <option>按单寄送</option>
                <option>其他寄送</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="cc">对账单寄送途径:</td>
        <td class="cc">
            <select name="billingApproach" th:value="${res.billingApproach}">
                <option>电子对账单，交易确认单</option>
                <option>其他寄送途径</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="cc">客户生日:</td>
        <td><input type="date" name="clientBirthday" th:value="${res.clientBirthday}"/></td>
    </tr>
    <tr>
        <td class="cc">客户职业:</td>
        <td><select name="clientOccupation" th:value="${res.clientOccupation}">
            <option value="">请选择</option>
            <option value="农林牧渔">农林牧渔</option>
            <option value="医药卫生">医药卫生</option>
            <option value="建筑建材">建筑建材</option>
            <option value="冶金矿产">冶金矿产</option>
            <option value="石油化工">石油化工</option>
            <option value="其他">其他</option>
        </select></td>
        </td>
    </tr>
    <tr>
        <td class="cc">
            <button onclick="sure()">确认</button>
        </td>
    </tr>


</table>
</body>
</html>