<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>风险问卷</title>
    <script type="text/javascript" src="../static/js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="../static/js/fund.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <table style="margin-left: 150px">
        <tr>
            <td>个人风险问卷</td>
        </tr>
        <tr>
            <td><b>1.您目前的个人及家庭财务状况属于以下哪一种?</b></td>
        </tr>
        <tr>
            <td><input type="radio" name="financialStatus" value="4">有较大数额未到期负</td>
        </tr>
        <tr>
            <td><input type="radio" name="financialStatus" value="8">收支相抵</td>
        </tr>
        <tr>
            <td><input type="radio" name="financialStatus" value="12">有一定积蓄</td>
        </tr>
        <tr>
            <td><input type="radio" name="financialStatus" value="16">有较为丰厚的积蓄并有一定投资</td>
        </tr>
        <tr>
            <td><input type="radio" name="financialStatus" value="20">比较富裕且有相当的投资</td>
        </tr>
        <tr>
            <td><b>2.您个人目前已经或者准备投资的基金金额占您或家庭所拥有总资产的比重是多少:(备注:总资产包括存款、证券投资、房地产及实业等)</b></td>
        </tr>
        <tr>
            <td><input type="radio" name="proportionAssets" value="4">80-100%</td>
        </tr>
        <tr>
            <td><input type="radio" name="proportionAssets" value="8">50-80%</td>
        </tr>
        <tr>
            <td><input type="radio" name="proportionAssets" value="12">20-50%</td>
        </tr>
        <tr>
            <td><input type="radio" name="proportionAssets" value="16">0-20%</td>
        </tr>
        <tr>
            <td><input type="radio" name="proportionAssets" value="20">零</td>
        </tr>
        <tr>
            <td><b>3.您的年收入是多少?</b></td>
        </tr>
        <tr>
            <td><input type="radio" name="AnnualIncome" value="4">2万元以下</td>
        </tr>
        <tr>
            <td><input type="radio" name="AnnualIncome" value="8">2万元至5万元</td>
        </tr>
        <tr>
            <td><input type="radio" name="AnnualIncome" value="12">5万元至15万元</td>
        </tr>
        <tr>
            <td><input type="radio" name="AnnualIncome" value="16">15万元至50万元</td>
        </tr>
        <tr>
            <td><input type="radio" name="AnnualIncome" value="20">50万元以上</td>
        </tr>
        <tr>
            <td><b>4.您计划中的基金投资期限是多长</b></td>
        </tr>
        <tr>
            <td><input type="radio" name="InvestmentHorizon" value="4">少于一年</td>
        </tr>
        <tr>
            <td><input type="radio" name="InvestmentHorizon" value="8">1-3年</td>
        </tr>
        <tr>
            <td><input type="radio" name="InvestmentHorizon" value="12">3-5年</td>
        </tr>
        <tr>
            <td><input type="radio" name="InvestmentHorizon" value="16">5-8年</td>
        </tr>
        <tr>
            <td><input type="radio" name="InvestmentHorizon" value="20">8年以上</td>
        </tr>
        <tr>
            <td><b>5.您是否有过股票与基金的投资经历，如有投资时间是多长</b></td>
        </tr>
        <tr>
            <td><input type="radio" name="investmentInTime" value="4">没有</td>
        </tr>
        <tr>
            <td><input type="radio" name="investmentInTime" value="8">有，但是小于三年</td>
        </tr>
        <tr>
            <td><input type="radio" name="investmentInTime" value="12">有，在3-5年之间</td>
        </tr>
        <tr>
            <td><input type="radio" name="investmentInTime" value="16">有，在5-10年之间</td>
        </tr>
        <tr>
            <td><input type="radio" name="investmentInTime" value="20">有，长于十年</td>
        </tr>
        <tr>
            <td><input type="button" value="提交" onclick="sub()"></td>
        </tr>
    </table>
</body>
</html>