<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ygjx.fxm.dao.AcBankNameMapper">
    <resultMap id="BaseResultMap" type="com.ygjx.fxm.entity.AcBankName">
        <id column="bank_id" jdbcType="INTEGER" property="bankId" />
        <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    </resultMap>
    <select id="getAllAcBankName" resultMap="BaseResultMap">
        SELECT * FROM ac_bank_name;
    </select>

    <select id="findByBankid" resultMap="BaseResultMap">
        select  * from ac_bank_name where bank_id =#{bankId}
    </select>
</mapper>